@charset "UTF-8";

/* Locator Web Light */
@font-face {
  font-family: "LocatorWeb";
  src: url("../fonts/LocatorWebLight/LocatorWebLight.eot");
  src: url("../fonts/LocatorWebLight/LocatorWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LocatorWebLight/LocatorWebLight.woff2") format("woff2"),
    url("../fonts/LocatorWebLight/LocatorWebLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

/* Locator Web Medium */
@font-face {
  font-family: "LocatorWeb";
  src: url("../fonts/LocatorWebMedium/LocatorWebMedium.eot");
  src: url("../fonts/LocatorWebMedium/LocatorWebMedium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LocatorWebMedium/LocatorWebMedium.woff2") format("woff2"),
    url("../fonts/LocatorWebMedium/LocatorWebMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$regular: "LocatorWeb", Tahoma, Geneva, Verdana, sans-serif;
$primary: #f07d00;

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-effaclar.es-effaclar {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  sup {
    vertical-align: top;
    font-size: 0.6em;
  }
  font-family: $regular;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }

  * {
    box-sizing: border-box;
  }

  .es-kv {
    margin-bottom: 32px;
    &__header {
      display: flex;
      align-items: flex-start;
      padding: 0 16px;
    }
    &__logo {
      flex: 1;
      margin-right: 16px;
    }
    &__img {
      @include img;
      &-packshot {
        // animation: slidein 0.8s ease forwards;
        transition: transform 0.3s ease;
      }
      &--logo {
        margin-left: 0;
      }
      &--desktop {
        display: none;
      }
      &--badge {
        margin: 16px;
      }
      &--stamp {
        margin-left: 0;
        width: 60px;
        margin-right: 0;
      }
    }
    &__cap {
      flex: 2;
      @include text;
      font-size: 16px;
      text-align: right;
      font-weight: 200;
      padding: 16px 0;
    }
    &__packshot {
      padding: 16px 0;
      opacity: 1;
      position: relative;
      z-index: 3;
      &:hover .es-kv__img-packshot {
        transform: scale(1.1);
      }
    }
    &__content {
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    &__stamp {
      display: flex;
    }
    &__photo {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      @include text;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 200;
      padding: 16px;
      text-align: right;
      span {
        color: #ab151e;
        font-weight: 200;
      }
      em {
        font-size: 15px;
        text-decoration: none;
        text-transform: none;
        font-style: normal;
      }
    }
    &__stamp {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 16px;
      min-width: 265px;
    }
    &__subtitle {
      @include text;
      color: #f39a1e;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      // text-align: right;
      // padding-right: 16px;
      padding-left: 16px;
    }
    &__stamp-text {
      @include text;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 12px;
      padding-left: 16px;
      span {
        font-weight: 400;
      }
    }
  }

  .es-serum {
    padding: 16px;
    margin-bottom: 32px;
    &__title {
      @include text;
      font-size: 28px;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 8px;
    }
    &__subtitle {
      @include text;
      font-size: 12px;
      font-weight: 200;
      text-align: center;
    }
    &__disclaimer {
      @include text;
font-size: 8px;
text-align: center;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 42px;
      justify-content: flex-start;
      align-items: center;
      gap: 26px;
    }
    &__feature {
      margin: 0 auto;
      width: 160px;
      &:hover .es-serum__icon {
        transform: scale(1.1);
      }
    }
    &__icon {
      flex: 1;
      transition: transform 0.3s ease;
    }
    &__img {
      @include img;
    }
    &__text {
      @include text;
      flex: 2;
      font-size: 11px;
      text-align: center;
      font-weight: 400;
      margin: 16px 0;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .es-res {
    margin-bottom: 40px;
    &__wrapper {
      background: #c12735;
      padding: 32px 16px;
    }
    &__title {
      @include text;
      color: #fff;
      font-size: 27px;
      font-weight: 200;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 16px;
      text-transform: uppercase;
      margin-bottom: 24px;
      text-align: center;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 400px;
      margin: 0 auto;
      gap: 16px;
      margin-bottom: 16px;
    }
    &__single {
      width: 45%;
    }
    &__percent {
      @include text;
      font-weight: 400;
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 1;
      sup {
        font-size: 34px;
      }
      small {
        font-size: 11px;
      }
    }
    &__text {
      @include text;
      font-size: 11px;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
    }
    &__disc {
      @include text;
      font-size: 10px;
      padding: 16px;
      text-align: center;
    }
    &__disclaimer {
      @include text;
      padding: 24px 16px 0 16px;
      font-size: 12px;
      text-align: center;
    }
  }

  .es-ingredients {
    margin: 0 auto;
    padding: 0 16px;
    margin-bottom: 40px;
    &__title {
      @include text;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      margin-bottom: 32px;
      text-align: center;
    }
    &__container .es-ingredients__single {
      opacity: 1;
    }
    &__container:hover .es-ingredients__single {
      opacity: 0.5;
    }
    &__container .es-ingredients__single:hover {
      opacity: 1;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 5px;
      justify-content: center;
    }
    &__single {
      flex: 1;
      flex-basis: 100%;
      max-width: 148px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      padding-bottom: 20px;
      &--allWidth {
        max-width: 607px;
      }
    }
    &__image {
      position: relative;
    }
    &__label {
      @include text;
      font-size: 14px;
      padding: 4px 10px;
      background: rgba(255, 255, 255, 0.66);
      position: absolute;
      top: 24px;
      left: 0;
      // font-weight: 700;
      text-align: left;
      text-transform: uppercase;
      width: 95%;
      min-height: 60px;
      padding: 10px 5px 5px 5px;
      line-height: 1;
      span {
        font-weight: 200;
        font-size: 19px;
        letter-spacing: -1px;
        position: relative;
        top: -8px;
      }
      &--allWidth {
        width: 200px;
      }
    }
    &__img {
      @include img;
      &--allWidth {
        height: 148px;
        object-fit: cover;
      }
    }
    &__text {
      @include text;
      padding-top: 16px;
      font-size: 14px;
    }
  }

  .es-use {
    margin-bottom: 56px;
    &__wrapper {
      background: #c12735;
      padding: 24px 16px;
    }
    &__title {
      @include text;
      font-size: 27px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: #fff;
    }
    &__item {
      @include text;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 16px;
      color: #fff;
    }
    &__text {
      @include text;
      font-size: 15px;
      font-weight: 200;
      margin-bottom: 16px;
      color: #fff;
    }
  }

  .es-routine {
    &__title {
      @include text;
      font-size: 28px;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 16px;
      position: relative;
      z-index: 1;
    }
    &__img {
      @include img;
      display: none;
    }
    &__container {
      padding: 16px;
    }
    &__single {
      margin-bottom: 64px;
    }
    &__number {
      @include text;
      color: #c12735;
      font-size: 156px;
      font-weight: 700;
      line-height: 0.75;
    }
    &__subtitle {
      @include text;
      font-size: 20px;
      text-transform: uppercase;
      margin: 12px 0;
      strong {
        font-size: 24px;
        display: block;
      }
    }
    &__text {
      @include text;
      font-size: 15px;
      margin-bottom: 24px;
    }
    &__link {
      @include text;
      font-size: 15px;
      text-decoration: none;
      color: #fff;
      background: #c12735;
      padding: 4px 16px;
      border: 1px solid #c12735;
      transition: all 0.3s ease;
      &:hover {
        color: #000;
        background: #fff;
      }
    }
    &__packshot {
      padding-left: 100px;
    }

    &__img-packshot {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      margin-bottom: -120px;
      max-height: 400px;
    }
  }

  .es-terms {
    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 200;
      margin-bottom: 40px;
      text-align: center;
      strong {
        white-space: nowrap;
      }
    }
    &__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    &__term {
      position: relative;
      max-width: 100%;
    }
    &__text {
      position: absolute;
      bottom: 0;
      left: 10px;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .es-disclaimer {
    margin-bottom: 32px;
    &__text {
      @include text;
      font-size: 11px;
    }
  }
  @media screen and (min-width: 561px) {
    .es-serum {
      margin-top: -40px;
      margin-bottom: 50px;
      &__container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 800px;
        gap: unset;
      }
      &__title {
        margin-bottom: 16px;
      }
      &__feature {
        width: 18%;
      }
      &__text {
        font-size: 14px;
      }
    }
    .es-terms {
      &__title {
        font-size: 28px;
      }
    }
  }

  @media screen and (min-width: 731px) {
    .es-kv {
      &__header {
        max-width: 607px;
        margin: 0 auto;
        padding: 0;
      }
      &__container {
        display: flex;
        position: relative;
        margin-bottom: 16px;
        margin-top: -25px;
      }
      &__content {
        flex: 1;
        width: 50%;
        align-items: flex-end;
      }
      &__title {
        padding-top: 24px;
        padding-right: 90px;
        font-size: 20px;
      }
      &__photo {
        flex: 1;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        overflow: hidden;
        position: relative;
      }
      &__badge {
        &--mobile {
          display: none;
        }
      }
      &__stamp {
        padding: 0;
      }
      &__packshot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      &__img {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
          max-width: 110%;
          position: relative;
          z-index: 0;
        }
        &--badge {
          padding: 0;
          margin-left: -40px;
          padding-bottom: 16px;
        }
        &--first {
          order: 2;
        }
      }
      &__stamp {
        padding-right: 60px;
      }
      &__subtitle {
        text-align: right;
        padding-right: 16px;
        padding-left: 0;
      }
    }
    .es-res {
      margin-bottom: 64px;
      &__wrapper {
        background: url("../images/info.png") no-repeat;
        background-size: cover;
        background-position: left;
        padding-right: 40px;
        height: 380px;
      }
      &__single {
        width: 40%;
      }
      &__title {
        margin-bottom: 40px;
      }
      &__container {
        gap: 32px;
        margin-bottom: 0;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 150px;
      }
      &__disclaimer {
        margin: 0 auto;
      }
      &__content {
        margin-left: 15%;
      }
    }
    .es-ingredients {
      padding: 0;
      margin-bottom: 60px;
      &__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
    }
    .es-use {
      &__title {
        font-size: 32px;
        padding: 0;
        font-weight: 500;
      }
      &__wrapper {
        background: url("../images/banner.png") no-repeat center right;
        height: 413px;
        background-size: cover;
        display: flex;
        align-items: center;
      }
      &__content {
        padding-left: 32px;
        max-width: 47%;
      }
      &__list {
        padding-left: 16px;
        margin-bottom: 0;
      }
      &__item:last-child {
        margin-bottom: 0;
      }
      &__text {
        // max-width: 250px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .es-routine {
      margin-bottom: 40px;
      &__img {
        display: block;
        object-fit: cover;
        max-width: 110%;
      }
      &__container {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__single {
        position: absolute;
        max-width: 25%;
        margin-bottom: 0;
        &--1 {
          top: 14%;
          right: 40px;
        }
        &--2 {
          top: 40%;
    left: 50px;
        }
        &--3 {
          top: 63%;
          right: 40px;
        }
      }
      &__packshot {
        display: none;
      }
    }
  }

  @media screen and (min-width: 830px) {
    .es-kv {
      &__packshot {
        left: 54%;
      }
      &__title {
        padding-top: 24px;
        padding-right: 100px;
        font-size: 22px;
      }
    }
    .es-use {
      &__content {
        padding-left: 64px;
      }
    }
    .es-res {
      &__content {
        margin-left: 5%;
      }
      &__title {
        max-width: unset;
        font-size: 24px;
        margin-bottom: 25px;
      }
      &__percent {
        font-size: 50px;
      }
      &__percent small {
        font-size: 14px;
      }
      &__text {
        font-size: 14px;
      }
      &__container {
        gap: 16px 32px;
      }
    }
  }
  @media screen and (min-width: 900px) {
    .es-kv {
      &__packshot {
        left: 50%;
      }
      &__photo {
        max-width: 500px;
      }
      &__img {
        &--badge {
          margin-left: -60px;
        }
      }
    }
    .es-res {
      &__content {
        margin-right: 50px;
      }
      &__container {
        gap: 16px 0;
        max-width: 500px;
      }
      
      &__wrapper {
        padding-left: 100px;
      }
    }

    .es-routine {
      &__single {
        &--1 {
          right: 80px;
        }
        &--2 {
          left: 80px;
        }
        &--3 {
          right: 80px;
        }
      }
      &__packshot {
        display: none;
      }
    }
  }
}

// @keyframes slidein {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0px);
//   }
// }
